span{
    font-size: 30px;
}

#name_header {
    margin-right: 20px;
    margin-left: 40px
}

#reps_header {
    margin-right: 20px;
    margin-left: 60px
}

#weight_header {
    margin-right: 20px;
    margin-left: 40px
}

#date_header {
    margin-left: 30px
}