<div class="container">
    <h1>Orders</h1>
    <table>
        <tr>
          <th>Date:</th>
          <td>7/16/2020</td>
        </tr>
        <tr >
          <th>Invoice #</th>
          <th >Name</th>
          <th >Price</th><th></th><th></th>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">Jerry Jerrson </td>
          
          
          <td  class="money">$8,749.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
          <!-- Button trigger modal -->
<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal">
 View Order
</button></td>

<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">#123 Jerry Jerrson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>2020 Honda CBR600 $8,749.00</p>
        <p>Tax: $762.00</p>
        <p>Total: $9,511.00</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">Mark Mann </td>
          
          
          <td  class="money">$8,121.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">Linda Iacoboni </td>
          
          
          <td  class="money">$15,996.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">Craig Edie </td>
          
          
          <td  class="money">$12,247.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">Gib Wallis </td>
          
          
          <td  class="money">$5,445.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">David Galbraith </td>
          
          
          <td  class="money">$11,771.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">Sandra Yadegar </td>
          
          
          <td  class="money">$10,313.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
        </tr>
        <tr>
          <td>123</td><td  style="white-space: nowrap;">Susanne Amidon </td>
          
          
          <td  class="money">$18,222.00</td>
          
          <td><button type="submit" class="btn btn-primary">Delete</button></td>
        </tr>
        
      </table>
    
</div>